<html>
  <head>
    <script src="/javascripts/jquery-1.2.6.min.js" type="text/javascript"></script>
    <script src="/javascripts/swfobject.js" type="text/javascript"></script>
    <script src="/javascripts/cookie.js" type="text/javascript"></script>
    <script src="/javascripts/app.js" type="text/javascript"></script>
    <script src="/javascripts/youtube.js" type="text/javascript"></script>
    <script src='/javascripts/jquery.simplemodal.js' type='text/javascript'></script>
    <script src='/javascripts/jquery.timeago.js' type='text/javascript'></script>
    <script src="/javascripts/soundcloud.player.api.js" type="text/javascript"></script>
    <script src="/javascripts/soundcloud.js" type="text/javascript"></script>
    <script src="/javascripts/osx.js" type="text/javascript"></script>
    <link type='text/css' href='/stylesheets/style.css' rel='stylesheet' media='screen' />
    <link type='text/css' href='/stylesheets/osx.css' rel='stylesheet' media='screen' />    
  </head>
  <body style='background: #f8f8f8'>
    <div id="application">
      <div class="roundedcornr_top"><div></div></div>
      <div id="content" style='margin: 0 15px'>
        <div id="youtube_father">
          <div id='youtube_mother' style='display:none;'>
            <div id="ytapiplayer">
              You need Flash player 9+ and JavaScript enabled to view this video.
            </div>
          </div>
          <div id="soundcloud" style='height: 61px; width: 500px;'>
            <span>&nbsp;</span>
            <div id="myContent">
            </div>
          </div>
          <audio id='bandcamp' autoplay='true'/>
        </div>
        
        <div id='left-side'>
          <span id='buttons'>
            <img id='back' class='button' src='/images/back.png'/>    
            <img id='play' class='button' src='/images/play.png'/>
            <img id='stop' class='button' src='/images/stop.png'/>
            <img id='forward' class='button' src='/images/forward.png'/>
          </span>  
          <img class='history' id='queue_indicator' src='/images/loading_indicator.gif' width='24px' height='24px' style='display:none'/>
          <span class='history' id='past' title='total songs requested'></span>
          <span class='history'> / </span>
          <!--span class='history white_history'>
            <img style='background: white; margin-top:10px;' width='12px' height='29px' src='/images/user.png' style='margin-top:-10px'/>
          </span>          
          <span class='history' title='people have listened to this playlist'>4</span-->           
          <span class='history' id='current_ending' title='current position'></span>           
          <table id='queue'>
          </table>
          <a style='margin-left:250px; margin-top: 20px; display:none;' href='#' onclick='app.showMore(); return false'>show more (max 10)</a>
        </div>        
      </div>
      <div class="roundedcornr_bottom"><div></div></div>
    </div>
    <div id="left" style='margin-left:140px; margin-top: 20px;'>
      <div id="search-youtube" class='form admin' style='display:none'>
        <h3>&nbsp;add songs from
          <input type="radio" class='search_type' name="group1" value="youtube" id="youtube_search_radio_button" onclick="app.setSearchPreference('youtube_search_radio_button')"> youtube 
          <input type="radio" class='search_type' name="group1" value="soundcloud" id="soundcloud_search_radio_button" onclick="app.setSearchPreference('soundcloud_search_radio_button')"> soundcloud
          <input type="radio" class='search_type' name="group1" value="bandcamp" id="bandcamp_search_radio_button" onclick="app.setSearchPreference('bandcamp_search_radio_button')"> bandcamp</h3>          
        <form id='youtube_search'>
          <input type="text" id='youtube_search_text' name="q[fulltext]" style="float:left; width:200px; margin-left: 15px;">
          <input type="submit" id='youtube_search_submit' value="search" style="float:left"> &nbsp;
          <img id='search_indicator' src='/images/loading_indicator.gif' style='display:none' width='24px' height='24px'/>
        </form>
      </div>
      <a style='margin-left:250px' href='#' onclick='app.deleteData(); return false'>reset</a>
      
    </div>
    <div id="osx-modal-content">
			<div id="osx-modal-title"><center>Results</center></div>
			<div class="close"><a href="#" class="simplemodal-close">x</a></div>
			<div id="search-results">
			</div>
			<div id="osx-modal-data">
			  <table id="osx-modal-data-list">
		    </table>
			</div>
				<p><button class="simplemodal-close">Close</button></p>
		</div>
  </body>
</html>